<nav class="black amber-text">
  <div class="container">
    {{#if currentCity.show}}
      {{#if currentCity.isFlying}}
        <div class="right">
          <span class="chip amber black-text">Dave is currently flying to {{currentCity.name}}</span>
        </div>
      {{else}}
      <div class="right">
        <span class="chip amber black-text">Dave is currently in {{currentCity.name}}</span>
      </div>
      {{/if}}
    {{/if}}
    <ul id="slide-out" class="side-nav black amber-text">
      <li class="no-hover">
        <a href="/about" class="block-me">
          <img class="responsive-img circle side-nav-face" src="/img/face.jpg" />
        </a>
      </li>
      <li class="no-hover">
        <ul class="nav-main-list collapsible collapsible-accordion" data-collapsible="accordion">
          <li class="no-hover">
            <div class="collapsible-header">
              California
            </div>
            <div class="collapsible-body">
              <ul class="nav-sub-list">
                {{#each navItems.cali}}
                <li>
                  <a href="{{this.href}}" class="nav-item-link amber-text">{{this.displayName}}</a>
                </li>
                {{/each}}
              </ul>
            </div>
          </li>
          <li class="no-hover">
            <div class="collapsible-header">
              New York City
            </div>
            <div class="collapsible-body">
              <ul class="nav-sub-list">
                {{#each navItems.nyc}}
                <li>
                  <a href="{{this.href}}" class="nav-item-link amber-text">{{this.displayName}}</a>
                </li>
                {{/each}}
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
